/* Main Style */
body {
    background-color: black;
}
/* Circle Style */
.outDIV {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background-image: linear-gradient(rgb(186, 66, 255) 35%, rgb(0, 255, 255));
    width: 100px;
    height: 100px;
    animation: circle 1.8s linear infinite;
    text-align: center;
    border-radius: 50px;
    filter: blur(1px);
    box-shadow: 0px -5px 20px 0px rgb(186, 66, 255), 0px 5px 20px 0px rgb(0, 255, 255);
}
.innerDIV {
    background-color: rgb(36, 36, 36);
    width: 100px;
    height: 100px;
    border-radius: 50px;
    filter: blur(10px);
}
@keyframes circle {
    to {
        transform: rotate(360deg);
    }
}